<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper">
    <h1 align="center">Please provide honest information about the below questions! This informaitons will only visible
      to you! We respect Your privacy!
    </h1>
    <h1 align="center">Personal Info</h1>
    <h2 align="center">Personal Info</h2>
    <h3 align="center">Personal Info</h3>
    <h4 align="center">Personal Info</h4>
    <h5 align="center">Personal Info</h5>
    <h6 align="center">Personal Info</h6>
  </div>
  <!-- content-wrapper -->
</div>
<!--wrapper-->
