<!--<h1 align="center" class="jumbotron">-->
<h5 align="center" style="font-size: 50px;">
  <span class="text-danger"><b style="color: limegreen">Donate</b>DROP</span>
  <span>|</span>
  <span class="logo text-teal">Agent Dashboard</span>
</h5>

<div align="center" class="tab">
  <button class="tablinks" (click)="tabChange(event, 'request_review')">Review</button>
  <button class="tablinks" (click)="tabChange(event, 'accepted')">Accepted</button>
  <button class="tablinks" (click)="tabChange(event, 'rejected')">Rejected</button>
  <button class="tablinks" (click)="tabChange(event, 'removed')">Removed</button>
</div>

<!--Start : Rivew Request-->
<div align="center" id="request_review" class="tabcontent">
  <!--<app-agent-review></app-agent-review>-->
</div>
<!--End : Rivew Request-->
<div align="center" id="accepted" class="tabcontent">
  <!--<app-agent-accepted></app-agent-accepted>-->
</div>
<div align="center" id="rejected" class="tabcontent">
  <!--<app-agent-rejected></app-agent-rejected>-->
</div>
<!--will active later.-->
<!--<div align="center" id="hold" class="tabcontent">-->
<!--<app-agent-hold></app-agent-hold>-->
<!--</div>-->
<div align="center" id="freeze" class="tabcontent">
  <!--<app-agent-freeze></app-agent-freeze>-->
</div>



