<!--<h1 align="center" class="jumbotron">-->
<h5 align="center" style="font-size: 50px;">
  <span class="text-danger"><b style="color: limegreen">Donate</b>DROP</span>
  <span>|</span>
  <span class="logo text-teal">Agent Dashboard</span>
</h5>

<div align="center" class="tab">
  <button class="tablinks" (click)="tabChange(event, 'request_review')">Review</button>
  <button class="tablinks" (click)="tabChange(event, 'accepted')">Accepted</button>
  <button class="tablinks" (click)="tabChange(event, 'rejected')">Rejected</button>
  <button class="tablinks" (click)="tabChange(event, 'removed')">Removed</button>
</div>

<div align="center" id="request_review" class="tabcontent">
  <app-agent-dashboard-review></app-agent-dashboard-review>
</div>
<div align="center" id="accepted" class="tabcontent">
  <app-agent-dashboard-accepted></app-agent-dashboard-accepted>
</div>
<div align="center" id="rejected" class="tabcontent">
  <h1>Request Rejected</h1>
</div>
<div align="center" id="removed" class="tabcontent">
  <h1>Request Removed</h1>
</div>



