<div class="wrapper">
  <div class="box box-info">
    <h1 align="center">Post Details</h1>
  </div>


  <!--start : post basic-->
  <div class="box box-danger">
    <div class="box-body table-responsive no-padding">
      <table class="table" border="2">
        <tr>
          <td align="center">
            <button class="btn btn-sm btn-warning">Need Date</button>
          </td>
          <td>
            28-56-2020
          </td>
        </tr>
      </table>

      <br>
      <button class="btn btn-sm btn-warning">Quantity</button>
      <br>
      <button class="btn btn-sm btn-info">Patient Gender</button>
      <br>
      <button class="btn btn-sm btn-info">Relation</button>
      <br>
      <button class="btn btn-sm btn-info">Hospital Name</button>
      <br>
      <button class="btn btn-sm btn-info">Hospital Address</button>
      <br>
      <button class="btn btn-sm btn-info">Location</button>
      <br>
      <button class="btn btn-sm btn-warning">Contact_info</button>
      <br>
      <button class="btn btn-sm btn-info">Patient Description</button>
      <br>
      <button class="btn btn-sm btn-info">Notes Personal</button>
      <br>
    </div>
  </div>

  <!--end : post basic-->

</div>
