<div class="wrapper">
  <div class="box box-info">
    <h1 align="center">Post Details</h1>
    <button class="btn btn-sm btn-info">Save</button>
  </div>
  <!--start : post basic-->
  <div class="box box-danger">
    <div class="box-body table-responsive no-padding">
      <table class="table" border="2">
        <tr style="background-color: pink">
          <td>
            <button class="btn btn-sm btn-warning">Post ID</button>
          </td>
          <td>
            253548
          </td>
        </tr>
        <tr>
          <td>
            <button class="btn btn-sm btn-warning">Need Date</button>
          </td>
          <td>
            28-56-2020
          </td>
        </tr>
        <tr>
          <td>
            <button class="btn btn-sm btn-warning">Quantity</button>
          </td>
          <td>8</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>
            <button class="btn btn-sm btn-info">Patient Gender</button>
          </td>
          <td>Male</td>
        </tr>
        <tr>
          <td>
            <button class="btn btn-sm btn-info">Relation</button>
          </td>
          <td>Friend</td>
        </tr>
        <tr>
          <td>
            <button class="btn btn-sm btn-info">Hospital Name</button>
          </td>
          <td>Khulna City Hospital</td>
        </tr>
        <tr>
          <td>
            <button class="btn btn-sm btn-info">Hospital Address</button>
          </td>
          <td>Khulna Sadar</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>
            <button class="btn btn-sm btn-info">Location</button>
          </td>
          <td>Near Boyra Bazar</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>
            <button class="btn btn-sm btn-warning">Contact_info</button>
          </td>
          <td>01713-815267</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>
            <button class="btn btn-sm btn-info">Patient Description</button>
          </td>
          <td>COVID-19, Heart, Kidney</td>
        </tr>
        <tr>
          <td>
            <button class="btn btn-sm btn-info">Notes Personal</button>
          </td>
          <td>very urgent needed, tranport bill will be given.</td>
        </tr>
      </table>
    </div>
  </div>
  <!--end : post basic-->

  <!--start : post comments-->
  <div class="box box-info">
    <div class="box-header box-pane">
      <button class="btn btn-sm btn-info">Edit</button>
      <button class="btn btn-sm btn-warning">Delete</button>
      Name : asd
    </div>
    <div class="box-comments">
      This is test comment
    </div>
  </div>
  <!--end : post comments-->

</div>
