<h1>Post Details</h1>

<button class="btn btn-sm btn-warning">Need Date</button><br>
<button class="btn btn-sm btn-warning">Quantity</button><br>
<button class="btn btn-sm btn-info">Patient Gender</button><br>
<button class="btn btn-sm btn-info">Relation</button><br>
<button class="btn btn-sm btn-info">Hospital Name</button><br>
<button class="btn btn-sm btn-info">Hospital Address</button><br>
<button class="btn btn-sm btn-info">Location</button><br>
<button class="btn btn-sm btn-warning">Contact_info</button><br>
<button class="btn btn-sm btn-info">Patient Description</button><br>
<button class="btn btn-sm btn-info">Notes Personal</button><br>
